
/* 
  :: PerGen Production Cascading Stylesheet
  :: Author:  Farzin Fadamin ( Horus )
  :: Twitter: @farzinfadamin
  :: Email Address: farzin.fadamin@mexo.co
  :: Version: 1.0 - APR 2012


  DIRECTORY
  ==============  
  - GENERAL ADJUSTMENTS ( coloring, @font-face )
  - HEADER
  - CONTENT
  - FOOTER
*/



/*   GENERAL ADJUSTMENTS
=================*/

body {
	font-family: 'Lucida Grande', Arial, Helvetica, Sans-serif;
	background: #0d0d0d url("images/general/bg.jpg") no-repeat top center;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.8em;
	color: #fff;
}

a, a:link { color: #ff00cc; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 {}
h1 { font-size: 35px}
h2 { font-size: 25px}
h3 { font-size: 22px}
h4 { font-size: 18px}
h5 { font-size: 14px}
h6 { font-size: 13px}

b { font-weight: bold}
strong { color: #ff99ff; font-weight: inherit}

.float-left { float: left}
.float-right { float: right}
.hidden { display: none}


img {display: block;}

.clr { clear: both; }

.wp {
	padding: 20px;
}

p {
	margin: 0 0 1em;
}

nav ul, nav li{
	display: inline-block;
}

#wrapper {
	width: 950px;
	margin: 0 auto;
	position: relative;
}

.button a{
	color: #fff;
	background: #f93fcb;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5M2ZjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMTAxNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f93fcb 0%, #a10163 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f93fcb), color-stop(100%,#a10163));
	background: -webkit-linear-gradient(top,  #f93fcb 0%,#a10163 100%);
	background: -o-linear-gradient(top,  #f93fcb 0%,#a10163 100%);
	background: -ms-linear-gradient(top,  #f93fcb 0%,#a10163 100%);
	background: linear-gradient(top,  #f93fcb 0%,#a10163 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93fcb', endColorstr='#a10163',GradientType=0 );


	padding: 4px 10px;
	-webkit-transition: 0.2s linear 0s;
	-moz-transition: 0.2s linear 0s;
	-o-transition: 0.2s linear 0s;
	transition: 0.2s linear 0s;
	border-radius: 2px;
	-moz-border-radius: 2px;
	display: inline-block;
}

.button a:hover {
	background-color: #ff55dd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTVkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNjAyOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff55dd 0%, #d60296 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff55dd), color-stop(100%,#d60296));
	background: -webkit-linear-gradient(top,  #ff55dd 0%,#d60296 100%);
	background: -o-linear-gradient(top,  #ff55dd 0%,#d60296 100%);
	background: -ms-linear-gradient(top,  #ff55dd 0%,#d60296 100%);
	background: linear-gradient(top,  #ff55dd 0%,#d60296 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff55dd', endColorstr='#d60296',GradientType=0 );

	text-decoration: none;
}


.services-btn {
	position: absolute;
	right: 25px;
	bottom: 25px;
}

.services-btn a{
	background: transparent url("images/general/bg-services-btn.png") no-repeat left 0;
	height: 51px;
	float: right;
}

.services-btn a span{
	padding-left: 20px;
	padding-right: 50px;
	margin-right: -3px;
	font-size: 15px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.6);
	height: 51px;
	line-height: 51px;
	display: block;
	background: transparent url("images/general/bg-services-btn.png") no-repeat right -51px;
	color: #fff;
	-webkit-transition: all 0.12s ease-in-out 0s;
	-moz-transition: all 0.12s ease-in-out 0s;
	-o-transition: all 0.12s ease-in-out 0s;
	transition: all 0.12s ease-in-out 0s;
}

.services-btn a:hover{
	text-decoration: none;
}

.services-btn a:hover span{
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
}


.loading, .loadingMsg {
	background: transparent url("images/general/indicator.gif") no-repeat center center;
}

/*   HEADER
=================*/

#header {
	display: inline-block;
	width: 100%;
	position: relative;
}

#header > section{
	margin-top: 30px;
}

#header h1 {
	float: left;
	width: 205px;
	height: 50px;
	margin-top: 20px;
}

#header h1 a{
	width: 205px;
	height: 50px;
	background: transparent url("images/general/logo-pergen.png") no-repeat;
	float: left;
}

a.login-section{
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url("images/general/bg-transparent-black.png") repeat;
	padding: 5px 10px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	color: #fff;
	
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

a.login-section:hover{
	padding-top: 10px;
	text-decoration: none;
}

.tel-section{
	position: absolute;
	right: 0;
	top: 15px;
	margin-top: 20px;
}

.tel-section a{
	font-size: 22px;
	color: #fff;
	
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.tel-section a:hover{
	text-decoration: none;
	color: #ff00cc;
}

.tel-section small{
	font-size: 13px;
	color: #fff;
}

#main-menu {
	float: right;
	margin-top: 50px;
	background: transparent url("images/general/bg-transparent-black.png") repeat;
	padding: 0 15px;
	height: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#main-menu li {
	float: left;
	margin: 0 7px;
}

#main-menu li a {
	float: left;
	color: #fff;
	line-height: 45px;
	display: inline-block;
	padding-bottom: 0;
	font-weight: 400;
	font-size: 14px;
	position: relative;
}

#main-menu li a:hover{
	text-decoration: none;
}

#main-menu li a span{
	position: absolute;
	left: 0;
	top: 0;
	height: 4px;
	width: 0;
	background-color: #ff00cc;
	
	-webkit-transition: width 0.2s ease 0s;
	-moz-transition: width 0.2s ease 0s;
	-ms-transition: width 0.2s ease 0s;
	-o-transition: width 0.2s ease 0s;
	transition: width 0.2s ease 0s;
}

#main-menu li a:hover span,
#main-menu li.active a span{
	width: 100%;
}

/*   CONTENT
=================*/

.content-section {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
}

.inner-content figure{
	background-color: #272727;
    border: 1px solid #434343;
    float: left;
    padding: 7px;
	margin: 0 20px 20px 0;
}

.inner-content h3{
	font-size: 17px;
	margin-bottom: 10px;
}

.inner-content p{
	margin-bottom: 20px;
}

.clearfix:after {
	height: auto;
}

#page-title{	
	border-bottom: 1px solid #222;
	padding: 15px 20px;
	background-color: #010101;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#page-title h2{
	margin: 20px 0;
}

.box {
	background: transparent url("images/general/bg-transparent-black.png") repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.half-size {
	width: 460px;
}

.box > header{
	border-bottom: 1px solid #222;
	padding: 15px 20px;
	background-color: #000;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.box h3{
	display: inline-block;
}

.bullet-list li{
	background: transparent url("images/general/icon-bullet.png") no-repeat left 6px;
	margin-bottom: 8px;
	padding-left: 15px;
}

.divider {
	height: 1px;
	margin: 20px auto;
	background: transparent url("images/general/content-divider.png") no-repeat center center;
	width: 905px;
	display: block;
}

.breadcrumb {
	position: absolute;
	right: 20px;
	top: 20px;
}


.content-section .contact-inner{
	padding-bottom: 30px;
}
	

/*   FOOTER
=================*/

#footer {
	background: transparent url("images/general/divider-footer.png") no-repeat top center;
	margin-top: 30px;
	padding-top: 20px;
	width: 100%;
	display: inline-block;
}

.footer-wrap {
	background: transparent url("images/general/bg-footer.png") repeat-x left 0;
	height: 100px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	padding: 10px;
}

#footer aside{
	float: left;
}

#footer aside > * {
	clear: both;
	float: left;
	margin-bottom: 2px;
}

#footer-links li {
	margin-right: 5px;
	float: left;
	color: #666;
}

#footer-links a{
	color: #fff;
	font-size: 13px;
	-webkit-transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
	transition: all 0.1s ease 0s;
}

#footer-links a:hover{
	text-decoration: none;
	color: #FF00CC;
}

.copyright label{
	float: left;
}

.copyright a {
	float: left;
	margin-left: 8px;
	height: 18px;
	width: 79px;
}

.copyright a.mexo{
	background: transparent url("images/general/logo-mexo.png") no-repeat;
}

.copyright a.curlybit{
	background: transparent url("images/general/logo-curlybit.png") no-repeat;
}

#footer section {
	float: right;
}

#footer section p{
	margin: 0;
}

#footer section * {
	text-align: right;
}

#footer-socials {
	float: right;
}

#footer-socials a {
	background: transparent url("images/general/icon-socials-footer.png") no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 5px;
	margin-top: 4px;
}

#footer-socials a.fb {
	background-position: left top;
}

#footer-socials a.tw {
	background-position: right top;
}



/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #F2F4F8;
	position: relative;
}

.jspDrag
{
	background: #444;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border:1px solid #333;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 10px;
}

.jspHorizontalBar .jspArrow
{
	width: 10px;
	float: right;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}