/*   HOMEPAGE PAGE
=================*/

#slide-show {
	margin: 0 auto 30px;
	width: 936px;
	height: 338px;
	background: transparent url("images/general/bg-transparent-black.png") repeat;
	padding: 7px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	overflow: hidden;
	clear: both;
}

#slide-show .disable{
	visibility: hidden;
}

#slide-show .prev, #slide-show .next {
	width: 33px;
	height: 65px;
	background: transparent url("images/general/arrow-slide.png") no-repeat;
	position: absolute;
	top: 140px;
	z-index: 5;
}

#slide-show .prev {
	background-position: right top;
	left: 7px;
}

#slide-show .prev:hover {
	background-position: right bottom;
}

#slide-show .next {
	background-position: left top;
	right: 7px;
}

#slide-show .next:hover {
	background-position: left bottom;
}

#slide-show nav{
	width: 936px;
	height: 338px;
	overflow: hidden;
}

#slide-show nav .slide-container{
	width: 936px;
	height: 338px;
	overflow: hidden;
	position: relative;
}

#slide-picture {
	width: 936px;
	height: 338px;
	position: absolute;
	left: 0;
	top: 0;
}

#slide-picture li {
	float: left;
	width: 936px;
	height: 338px;
	position: relative;
	margin-right: 7px;
}

#slide-picture .slide-description {
	display: none;
	background: transparent url("images/general/bg-transparent-black.png") repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 916px;
	padding: 0 20px;
	height: 70px;
	line-height: 70px;
	font-size: 20px;
	font-weight: 400;	
}


#welcome-section, #testimonial-section {
	height: 250px;
	margin-bottom: 30px;
}

#portfolio-section{
	clear: both;
	width: 100%;
	float: left;
}

#testimonial-section h4{
	margin-bottom: 10px;
}

#testimonial-section p{
	
}

#testimonial-section header nav{
	float: right;
}

#testimonial-section header nav a{
	background: transparent url("images/homepage/arrow-carousel-small.png") no-repeat;
	width: 6px;
	height: 10px;
	display: inline-block;
	margin: 0 2px;
}

#testimonial-section a.disable{
	visibility: hidden;
}

#testimonial-section a.prev{
	background-position: left top;
}

#testimonial-section a.prev:hover{
	background-position: left bottom;
}

#testimonial-section a.next{
	background-position: right top;
}

#testimonial-section a.next:hover{
	background-position: right bottom;
}

#testimonial-section .viewport{
	width: 420px;
	height: 140px;
	position: relative;
	overflow: hidden;
}

#testimonial-section .overview{
	height: 140px;
	position: absolute;
	left: 0;
	top: 0;
}

#testimonial-section .overview li{
	width: 420px;
	height: 140px;
	float: left;
	margin-right: 20px;
}


#portfolio-section .viewport{
	width: 835px;
	height: 93px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

#portfolio-section .overview{
	height: 93px;
	position: absolute;
	left: 0;
	top: 0;
}

#portfolio-section li{
	width: 141px;
	height: 93px;
	float: left;
	margin: 0 15px;
}

#portfolio-section li img{
	width: 141px;
	height: 93px;
}

.portfolio-carousel{
	position: relative;
	padding: 10px 0;
}

.portfolio-carousel > a{
	background: transparent url("images/homepage/arrow-carousel-big.png") no-repeat;
	width: 20px;
	height: 36px;
	position: absolute;
	top: 50%;
	margin-top: -18px;
}

.portfolio-carousel > a.disable{
	visibility: hidden;
}

.portfolio-carousel > a.prev{
	left: 0;
	background-position: left top;
}

.portfolio-carousel > a.prev:hover{
	background-position: left bottom;
}

.portfolio-carousel > a.next{
	right: 0;
	background-position: right top;
}

.portfolio-carousel > a.next:hover{
	background-position: right bottom;
}