/*   SERVICES PAGE
=================*/

.services-content section {
	background: transparent url("images/general/content-divider.png") no-repeat center bottom;
	display: inline-block;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.services-content section.last{
	background: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.service-consulting .services-btn{
	bottom: -20px;
}

.services-content section a{
	color: #FF99FF;
}

.services-content section a:hover{
	color: #FF00CC;
	text-decoration: none;
	border-bottom: 0;
}

.services-content section strong {
	color: inherit;
	font-weight: bold;
}

.services-btn {
	position: absolute;
	right: 25px;
	bottom: 25px;
}

.services-content section figure{
	border: 1px solid #434343;
	background-color: #272727;
	padding: 7px;
	float: left;
}

.services-content section.right figure{
	float: right;
	margin-left: 15px;
	margin-right: 0;
}

.services-content section aside{
	margin-left: 300px;
}

.services-content section.right aside{
	margin-left: 0;
}

.services-content section h3 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
}

.services-content .bullet-list{
	margin-left: 30px;
}

.services-content .button{
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.services-content .button a{
	padding: 15px 30px;
	font-size: 20px;
}