<footer id="footer">
			<div class="footer-wrap">
				<aside>
					<nav id="footer-links">
						<ul>
							<li><a href="<!--{$SiteData.urls.site.homepage}-->">Home</a></li>
							<li><a href="<!--{$SiteData.urls.site.services}-->">Services</a></li>
							<li><a href="<!--{$SiteData.urls.site.portfolio}-->">Portfolio</a></li>
							<!--{*<li><a href="<!--{$SiteData.urls.site.testimonials}-->">Testimonials</a></li>*}-->
							<li><a href="<!--{$SiteData.urls.site.events}-->">Events</a></li>
							<li><a href="<!--{$SiteData.urls.site.about}-->">About us</a></li>
							<li><a href="<!--{$SiteData.urls.site.contact}-->">Contact us</a></li>
						</ul>
					</nav>
					<p>Copyright &copy; 2012 Pergen Productions. All rights reserved.</p>
					<p class="copyright"><label>Designed by</label><a class="mexo" href="<!--{$SiteData.urls.external.mexoinc}-->"></a><a class="curlybit" href="<!--{$SiteData.urls.external.curlybit}-->"></a></p>
				</aside>
				<section>
					<p>Address: <!--{$SiteData.urls.globalUrl.address}--></p>
					<p>Phone: <!--{$SiteData.urls.globalUrl.tel_number}--> | Fax: <!--{$SiteData.urls.globalUrl.fax_number}--></p>
					<nav id="footer-socials">
						<a class="fb" href="<!--{$SiteData.urls.external.facebook}-->"></a>
						<!--<a class="tw" href="javascript:void(0)"></a>-->
					</nav>
				</section>
			</div>
		</footer>