<header id="header">
			<a class="login-section" href="http://pergenproduction.com">Client Login</a>
			<section>
				<h1 id="logo"><a href="<!--{$SiteData.urls.site.homepage}-->"></a></h1>
				<div class="tel-section"><a href="tel:(855) 273-7436"><small>Call us:</small> 1-855-2PERGEN</div>
				<nav id="main-menu">
					<ul>
						<li <!--{if $action eq "homepage"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.homepage}-->">Home<span></span></a></li>
						<li <!--{if $action eq "services"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.services}-->">Services<span></span></a></li>
						<li <!--{if $action eq "portfolio"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.portfolio}-->">Portfolio<span></span></a></li>
						<!--{*<li <!--{if $action eq "testimonials"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.testimonials}-->">Testimonials<span></span></a></li>*}-->
						<li <!--{if $action eq "events"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.events}-->">Events<span></span></a></li>
						<li <!--{if $action eq "about"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.about}-->">About Us<span></span></a></li>
						<li <!--{if $action eq "contact"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.contact}-->">Contact Us<span></span></a></li>
					</ul>
				</nav>
			</section>
		</header>