<header id="header">
			<!--{*<a class="login-section" href="http://pergenproduction.com">Client Login</a>*}-->
			<section>
				<h1 id="logo"><a href="<!--{$SiteData.urls.site.homepage}-->"></a></h1>
				<div class="tel-section"><a href="tel:(855) 273-7436"><small>Call Us:</small> 1-855-2PERGEN</a></div>
				<nav id="main-menu">
					<ul>
						<li <!--{if $action eq "homepage"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.homepage}-->"><span data-hover="Home">Home</span></a></li>
						<li <!--{if $action eq "services"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.services}-->"><span data-hover="Services">Services</span></a></li>
						<li <!--{if $action eq "portfolio"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.portfolio}-->"><span data-hover="Portfolio">Portfolio</span></a></li>
						<li <!--{if $action eq "testimonials"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.testimonials}-->"><span data-hover="Testimonials">Testimonials</span></a></li>
						<li <!--{if $action eq "events"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.events}-->"><span data-hover="Events">Events</span></a></li>
						<li <!--{if $action eq "about"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.about}-->"><span data-hover="About Us">About Us</span></a></li>
						<li <!--{if $action eq "contact"}-->class="active"<!--{/if}-->><a href="<!--{$SiteData.urls.site.contact}-->"><span data-hover="Contact Us">Contact Us</span></a></li>
						<li class="login-link"><a href="http://pergenproduction.com"><span data-hover="Client Login">Client Login</span></a></li>
					</ul>
				</nav>
			</section>
		</header>