<section id="slide-show">
			<a href="javascript:void(0)" class="next navigator"></a>
			<nav class="viewport">
				<div class="slide-container">
					<ul id="slide-picture" class="overview">
						<li>
							<a href="<!--{$SiteData.urls.site.events}-->">
								<img src="<!--{$imagePath}-->homepage/slide6.jpg" alt="Sizdah Bedar featuring Andy and Shani" />
								<div class="slide-description">Sizdah Bedar featuring Andy and Shani</div>
							</a>
						</li>
						<li>
							<img src="<!--{$imagePath}-->homepage/slide1.jpg" alt="Feel the best with PerGen Productions" />
							<div class="slide-description">Feel the best with PerGen Productions</div>
						</li>
						<li>
							<img src="<!--{$imagePath}-->homepage/slide2.jpg" alt="" />
							<div class="slide-description"></div>
						</li>
						<li>
							<img src="<!--{$imagePath}-->homepage/slide3.jpg" alt="" />
							<div class="slide-description"></div>
						</li>
						<li>
							<img src="<!--{$imagePath}-->homepage/slide4.jpg" alt="" />
							<div class="slide-description"></div>
						</li>
						<li>
							<img src="<!--{$imagePath}-->homepage/slide5.jpg" alt="" />
							<div class="slide-description"></div>
						</li>
					</ul>
				</div>
			</nav>
			<a href="javascript:void(0)" class="prev navigator"></a>
		</section>