<section class="content-section">
	<section class="box clearfix">
		<hgroup id="page-title">
				<h2><!--{$SiteData.portfolio.title}--></h2>
				<nav class="breadcrumb">					
					<!--{foreach from=$SiteData.portfolio.breadcrumb key=k item=bread name=bread}-->
					<!--{if $bread.active}-->
					<a href="<!--{$bread.url}-->"><!--{$bread.title}--></a><!--{if !$smarty.foreach.bread.last}--> &rsaquo; <!--{/if}-->
					<!--{else}-->
					<span><!--{$bread.title}--><!--{if !$smarty.foreach.bread.last}--> &rsaquo; <!--{/if}--></span>
					<!--{/if}-->
					<!--{/foreach}-->
				</nav>
			</hgroup>
		<div class="wp">
			<section class="portfolio-content portfolio-image-list">
				<ul class="gallery-list">				
					<!--{foreach from=$SiteData.portfolio.images key=k item=image}-->
					<li>
						<a href="<!--{$image.url}-->" data-fancybox-group="group">
							<img src="<!--{$image.thumb}-->" />
							<span></span>
						</a>
					</li>
					<!--{/foreach}-->
				</ul>
			</section>
		</div>
	</section>
</section> <!-- end of CONTENT section-->