<section class="content-section">
			<section id="contact-section" class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Contact Us</h2>
						<p>We would love to hear from you. Feel free to call or email our office with any questions.</p>
						<nav class="breadcrumb">
							<a href="<!--{$applicationPath}-->">Home</a> &rsaquo;
							<span >Contact Us</span>
						</nav>
					</hgroup>
					<section class="contact-content">
						<section id="map">	
							<a class="find-us" href="<!--{$SiteData.urls.external.gmap}-->">Find us on google map</a>
							<div>
								<div id="map_canvas" style="width:360px; height:296px"></div>
							</div>
						</section>
						<aside>
							<img src="<!--{$imagePath}-->general/logo-pergen-mini.png" alt="Pergen logo" />
							<p><span class="addr">8206 Leesburg Pike ,Suite 209, Vienna, VA 22182</span></p>
							<p><span class="tel">202-596-2542</span><span class="fax">703-542-1274</span></p>
							<p><a class="mail-to" href="mailto:<!--{$SiteData.urls.globalUrl.email}-->">arshia@pergenproduction.com</a></p>
							<nav id="contact-socials">
								<ul>
									<li><a class="fb" href="<!--{$SiteData.urls.external.facebook}-->"></a></li>
									<!--<li><a class="tw" href="javascript:void(0)"></a></li>-->
								</ul>
							</nav>
						</aside>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->