<section class="content-section">
			<section id="welcome-section" class="box half-size float-left">
				<div class="wp">
					<h3>Welocme to PerGen Productions</h3>
					<p>We at PerGen Productions, believe in delivering unique product and service while beating our competitors' pricing and quality. We look at our clients as assets of our company and our goal is to meet the highly competitive entertainment market standards. Our perspective is based on our clients' needs.</p>
					<p>We treat each event as a new one and will fully consider client's based need and demand before quoting and delivering what is promised. PerGen productions is established in 2004 and since then been organizing concerts, weddings, cultural events, fundraising's, holiday events, birthday parties, and many more large and small events with an outstanding satisfaction level from our clients.</p>
				</div>
			</section>
			<section id="services-section" class="box half-size float-right">
				<div class="wp">
					<h3>What we do?</h3>
					<ul id="services-list" class="bullet-list">
						<li><strong>Wedding:</strong> Singer, DJ, Light, Sound, Wedding Planning, Hair Dressing, Center Piece, Flower, Venue Rental</li>
						<li><strong>Birthday:</strong> Party Room and Venue Rental, DJ, Singer, Sound, Lighting, Evet Planning</li>
						<li><strong>Sound System including:</strong> DJ setup, Speakers, Sound Woofers, wired/wireless microphones, Indoor/Outdoor Sounds, etc.</li>
						<li><strong>Lighting including:</strong> Disco, Wash Light, Ambient Lighting, Indoor/Outdoor Lighting, etc.</li>
					</ul>
					<!--<div class="button float-right"><a href="javascript:void(0)">Explore more</a></div>-->
				</div>
			</section>
		</section> <!-- end of CONTENT section-->