<section class="content-section">
			<section id="welcome-section" class="box half-size float-left">
				<header>
					<h3><h3>Welocme to PerGen Productions</h3></h3>
				</header>
				<div class="wp">
					<!--{*<p>We at PerGen Productions, believe in delivering unique product and service while beating our competitors' pricing and quality. We look at our clients as assets of our company and our goal is to meet the highly competitive entertainment market standards. Our perspective is based on our clients' needs.</p>
					<p>We treat each event as a new one and will fully consider client's based need and demand before quoting and delivering what is promised. PerGen productions is established in 2004 and since then been organizing concerts, weddings, cultural events, fundraising's, holiday events, birthday parties, and many more large and small events with an outstanding satisfaction level from our clients.</p>*}-->
					<p>At Pergen Productions, complete customer satisfaction is our top priority. Regardless of if you are seeking to hold a birthday party, company meet-up, fund-raiser, concert or any other event, we pledge to uphold our own high standard of service whether it's working up front or setting up behind the scenes throughout the entirety of our contract. <a href="<!--{$SiteData.urls.site.about}-->">(Read more)</a></p>
					<!--{*<p>Our clients' needs are our needs; Pergen Productions will go the extra mile to ensure your satisfaction throughout the entire process from the initial meeting with one of our event-planning professionals all the way to the clean-up after the event. Whether you would like to set up mood lighting for your club event, floral arrangements for your wedding reception or are looking for a DJ for your next birthday party, we can help arrange all of your party-planning needs on any budget. Pergen Productions seeks to provide not only the best possible entertainment and event-planning service in the industry, but we're constantly working towards raising the bar in terms of providing overall service to that ensure our clients will recognize our ability and choose us again in the future.</p>*}-->
				</div>
			</section>
			<section id="testimonial-section" class="box half-size float-right carousel">
				<header>
					<h3>Testimonials</h3>
					<nav>
						<a href="javascript:void(0)" class="prev"></a>
						<a href="javascript:void(0)" class="next"></a>
					</nav>
				</header>
				<div class="wp">
					<nav class="viewport">
						<ul class="overview">
							<li>
								<h4>Ali Zinat - 5/4/2013</h4>
								<p>DJ Arshia and staff did an amazing job with the sound, music and lighting.  Additionally a great percussionist and monogram were provided.  The guests loved the music selection.  Arshia's wedding expertise was very useful during the planning process.  I highly recommend Pergen Productions for weddings and other big events.</p>
							</li>
							<li>
								<h4>Arash Shabanbaz - 5/11/2013</h4>
								<p>We hosted an event with over a hundered people in attendance. The comapny came and set-up in advance and tested their equipment as well during the set-up. The lighting added to the ambiance and the mood, just right. The DJ and the service were excellent. Our guests had nothing but praise for the DJ and the music he played, it was just right for the event.</p>
							</li>
							<li>
								<h3>Tina Mahmoudian - <small>3/8/2013</small></h3>
								<p>Thank you so much for everything, our event couldn't have been a success without you. PegGen productions FTW!</p>
							</li>
							<li>
								<h4>Forough Yazdani - 1/26/2013</h4>
								<p>Your DJs made our event so special and memorable.  They were very professional.  They arrived on time, set up in ample time and provided first rate entertainment.</p>
							</li>
							<li>
								<h4>Neda - 1/12/2013</h4>
								<p>I have known pergen production for many years. Starting with my engagement party to my son's first birthday party 3 weeks ago, they made all my events amazing and unforgettable. They are so organized and professional. In every event that I had them all my guests had the best time and no one wanted to leave the dance floor. I highly recommend them.</p>
							</li>
						</ul>
					</nav>
				</div>
			</section>
			
			<section id="portfolio-section" class="box">
				<header>
					<h3>Our Portfolio</h3>
					<div class="button float-right"><a href="<!--{$SiteData.urls.site.portfolio}-->">View All</a></div>
				</header>
				<div class="wp">
					<div class="portfolio-carousel">
						<a class="prev" href="javascript:void(0)"></a>
						<nav class="viewport">
							<ul class="overview">
								<!--{*<!--{foreach from=$SiteData.portfolio.images key=k item=image}-->
								<li>
									<a href="<!--{$image.url}-->" data-fancybox-group="group">
										<img src="<!--{$image.thumb}-->" />
										<span></span>
									</a>
								</li>
								<!--{/foreach}-->*}-->
								
								
								
								
								
								<li>
									<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-01.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-01_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-02.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-02_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-03.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-03_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-04.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-04_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-05.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-05_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-06.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-06_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/birthday/pic-birthday-01.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/birthday/pic-birthday-01_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/birthday/pic-birthday-02.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/birthday/pic-birthday-02_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/holidays/pic-holidays-04.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/holidays/pic-holidays-04_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/holidays/pic-holidays-09.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/holidays/pic-holidays-09_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-06.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-06_.jpg" />
										<span></span>
									</a>
								</li>
								<li>
									<a href="<!--{$imagePath}-->portfolio/public-events/pic-public-events-02.jpg" data-fancybox-group="group">
										<img src="<!--{$imagePath}-->portfolio/public-events/pic-public-events-02_.jpg" />
										<span></span>
									</a>
								</li>
							</ul>
						</nav>
						<a class="next" href="javascript:void(0)"></a>
					</div>
				</div>
			</section>
			
			
			
			<!--{*<section id="services-section" class="box half-size float-right">
				<div class="wp">
					<h3>What we do?</h3>
					<ul id="services-list" class="bullet-list">
						<li><a href="<!--{$SiteData.urls.site.services_wedding}-->">Wedding:</a> Singer, DJ, Light, Sound, Wedding Planning, Hair Dressing, Center Piece, Flower, Venue Rental</li>
						<li><a href="<!--{$SiteData.urls.site.services_birthday}-->">Birthday:</a> Party Room and Venue Rental, DJ, Singer, Sound, Lighting, Evet Planning</li>
						<li><a href="<!--{$SiteData.urls.site.services_cultural}-->">Holiday and Cultural Events</a></li>
						<li><a href="<!--{$SiteData.urls.site.services_corporate}-->">Corporate Meeting:</a> Gathering, Party</li>
						<li><a href="<!--{$SiteData.urls.site.services_birthday}-->">Live Performance:</a> Singer, Percussion, and Dance</li>
						<li><a href="<!--{$SiteData.urls.site.services_DJs}-->">Nominated DJs and MCs</a></li>
						<li><a href="<!--{$SiteData.urls.site.services_screens}-->">Video players, Projectors and Screens</a></li>
						<li><a href="<!--{$SiteData.urls.site.services_ledLightingControl}-->">Intelligent LED Lighting Control System</a></li>
						<li><a href="<!--{$SiteData.urls.site.services_onlinePlanner}-->">Online Planner Account</a></li>
					</ul>
					<!--<div class="button float-right"><a href="javascript:void(0)">Explore more</a></div>-->
				</div>
			</section>*}-->
		</section> <!-- end of CONTENT section-->