<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Wedding</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.portfolio}-->">Portfolio</a> &rsaquo;
							<span >Wedding</span>
						</nav>
					</hgroup>
					<section class="portfolio-content portfolio-image-list">
						<ul class="gallery-list">
							<li>
								<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-01.jpg" data-fancybox-group="group" class="fancybox">
									<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-01_.jpg" alt="">
									<span></span>
								</a>
							</li>
							<li>
								<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-02.jpg" data-fancybox-group="group">
									<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-02_.jpg" alt="">
									<span></span>
								</a>
							</li>
							<li>
								<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-03.jpg" data-fancybox-group="group">
									<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-03_.jpg" alt="">
									<span></span>
								</a>
							</li>
							<li>
								<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-04.jpg" data-fancybox-group="group">
									<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-04_.jpg" alt="">
									<span></span>
								</a>
							</li>
							<li>
								<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-05.jpg" data-fancybox-group="group">
									<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-05_.jpg" alt="">
									<span></span>
								</a>
							</li>
							<li>
								<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-06.jpg" data-fancybox-group="group">
									<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-06_.jpg" alt="">
									<span></span>
								</a>
							</li>
							<li>
								<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-07.jpg" data-fancybox-group="group">
									<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-07.jpg" alt="">
									<span></span>
								</a>
							</li>
						</ul>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->