<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Portfolio</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<span >Portfolio</span>
						</nav>
					</hgroup>
					<section class="portfolio-content">
						<ul class="gallery-list">
							<li>
								<a href="<!--{$SiteData.urls.site.wedding}-->">
									<h3><span>Wedding</span></h3>
									<img src="<!--{$imagePath}-->portfolio/cat-wedding.jpg" alt="Wedding Category">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<h3><span>Birthday</span></h3>
									<img src="<!--{$imagePath}-->portfolio/cat-birthday.jpg" alt="Birthday Category">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<h3><span>Concert</span></h3>
									<img src="<!--{$imagePath}-->portfolio/cat-concert.jpg" alt="Concert Category">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<h3><span>Co. Meeting, Gathering, Party</span></h3>
									<img src="<!--{$imagePath}-->portfolio/cat-comeeting.jpg" alt="Co. Meeting Category">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<h3><span>Holiday Events</span></h3>
									<img src="<!--{$imagePath}-->portfolio/cat-holiday.jpg" alt="Holiday Events Category">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<h3><span>Cultural Events</span></h3>
									<img src="<!--{$imagePath}-->portfolio/cat-cultural.jpg" alt="Cultural Category">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<h3><span>Sound System</span></h3>
									<img src="<!--{$imagePath}-->portfolio/cat-sound.jpg" alt="Sound System Category">
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<h3><span>Lighting</span></h3>
									<img src="<!--{$imagePath}-->portfolio/cat-lighting.jpg" alt="Lighting Category">
								</a>
							</li>
						</ul>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->