<section class="content-section">
	<section class="box clearfix">
		<div class="wp">
			<hgroup id="page-title">
				<h2>Wedding</h2>
				<nav class="breadcrumb">
					<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
					<a href="<!--{$SiteData.urls.site.portfolio}-->">Portfolio</a> &rsaquo;
					<span >Wedding</span>
				</nav>
			</hgroup>
			<section class="portfolio-content portfolio-image-list">
				<ul class="gallery-list">
					<li>
						<a href="<!--{$imagePath}-->portfolio/wedding/pic-wedding-01.jpg" data-fancybox-group="group">
							<img src="<!--{$imagePath}-->portfolio/wedding/pic-wedding-01_.jpg" alt="">
							<span></span>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</section>
</section> <!-- end of CONTENT section-->