<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
						<h2>Intelligent LED Moving Head Lighting</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >Intelligent LED Moving Head Lighting</span>
						</nav>
					</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<figure><a href="<!--{$applicationPath}-->?action=portfolio&catId=lighting"><img src="<!--{$imagePath}-->portfolio/lighting/pic-lighting-46_.jpg" alt="Intelligent LED Moving Head Lighting" /></a></figure>
						<p>As technology improves, our ability to create the perfect atmosphere no matter the situation does as well. Intelligent lighting systems are representative of that, allowing you to customize whether they will act as regular lights or display patterns and different colors through the usage of special filters. Most importantly, this lights are computerized and attached to a swivel-head, allowing them to constantly change lighting positions and can also be programmed to give off a dazzling light show performance. You can set any mood for your event from rocking party to casual nightclub by coordinating music and light displays to work in tandem no matter the tempo.</p>
						<div class="services-btn"><a href="<!--{$applicationPath}-->?action=portfolio&catId=lighting"><span>Lighting Gallery</span></a></div>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->