<section class="content-section">
			<section class="box clearfix">
					<hgroup id="page-title">
						<h2>Live Performance</h2>
						<h4>(Singer, Percussion, and Dance)</h4>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >Live Performance</span>
						</nav>
					</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<p>Short on entertainment for your venue? Want to dazzle your guests with some showmanship? Pergen Productions has got you covered, whether you would like a live performance by a local musical artist or a dance troupe, your guests will be glad that they came. Our bands are guaranteed to provide nothing but the best possible entertainment and our dancers will do their best to keep any party lively and energetic through a variety of dance styles local and foreign.</p>
						<p>If you would like more information on our available music and performance acts, please contact Pergen Productions at <strong>1-855-2PERGEN (273-7436)</strong>.</p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->