<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
						<h2>Wedding</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >Wedding Services</span>
						</nav>
					</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<figure><a href="<!--{$applicationPath}-->?action=portfolio&catId=holidays"><img src="<!--{$imagePath}-->portfolio/holidays/pic-holidays-03_.jpg" alt="Holidays Portfolio" /></a></figure>
						<p>There is probably no day more momentous than when you're bonded with the one you've decided to spend the rest of your life with. Planning for a wedding can be exceptionally time-consuming as there are many things to consider: where it will be held, where to hold the reception, how many people to invite, catering, entertainment, having the rehearsal dinner and the list continues. Pergen Productions can help by taking some of the work off of your hands as well as show you how your ideal wedding can be planned with your ideal budget.</p>
						<p>We are fully equipped to handle whatever your wedding plans entail, whether it's assisting in setting up the lighting for the reception, finding the right entertainer to make your day all the more memorable and more. If you're not 100% on what you think you may want for your wedding, our full-time wedding planners can assist and walk you through the many aspects of preparing the ideal wedding, so when that promised day comes you can rest assured that it will be nothing short of perfect. Our staff has years of experience helping people design their perfect wedding, so you can rest assured that we can help you design the wedding of your dreams without you having to break the bank.</p>
						<p>Our clients can also simplify the wedding planning process through the use of our exclusive online planner that can streamline the many aspects that go into wedding planning, whether it's scheduling fittings for dresses and tuxedos, designing wedding invitations, planning out how to use your available budget, and much more.</p>
						<p>Contact us at <strong>1-855-2PERGEN (273-7436)</strong> to discuss how Pergen Productions can help with preparing your perfect wedding today.</p>
						<div class="services-btn"><a href="<!--{$applicationPath}-->?action=portfolio&catId=holidays"><span>Holidays Gallery</span></a></div>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->