<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>LED Pin-Spot Lighting</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >LED Pin-Spot Lighting</span>
						</nav>
					</hgroup>
					<section class="inner-content">
						<p>In order to make your event stand out, you need to give exceptional focus to all the little things that you want people to remember. Lighting is one of most important aspects of any event, so allow Pergen Productions to ensure that extra attention is brought to pieces that deserve it. </p>
						<p>With traditional ceiling lighting you can light up an entire room, but at the same time you sacrifice your ability to draw attention to certain pieces in the room, whether it could be the floral arrange you spent hours working on or possibly an impressive ice sculpture you shelled out a lot of money for. Pin-spot lighting is using singular lights from the ceiling and directing them onto one object just like a spotlight on a theatre stage. It can be used to not only focus on certain set pieces or positioned in a particular manner to create an artistic flair, but it can also shine light on the man of honor at his birthday party or the regional manager giving a presentation on employee accountability at a corporate event. </p>
						<p>Our lighting technicians can be of assistance for all of your pin-spot lighting needs. We can help you decide what pieces of your event should be highlighted and how they can be brought to the center of everyone's attention as well as discuss the price of installation and utilization. Filters can also be applied to pin-spot lighting in case you would like the option to shine the light in a particular color or want to display a certain image such a monogram.</p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->