<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
					<h2>Services</h2>
					<nav class="breadcrumb">
						<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
						<span>Services</span>
					</nav>
					<p>PerGen Production is a full-service event and party planning company offering private and corporate clients a comprehensive selection of entertainment and services. We design and produce private parties and corporate events including benefits, corporate parties and events, fundraisers, and concerts.</p>
					<p>From creation to installation, our team of professionals is skilled at developing innovative ideas to reflect your style.</p>
				</hgroup>
				<div class="wp">
					<div class="services-content">
						<section class="service-entertainment right">
							<h3>Entertainment</h3>
							<aside>
								<figure><img src="<!--{$imagePath}-->services/service-entertainment.jpg" alt="Entertainment Service" ></figure>
								<ul class="bullet-list">
									<!--{*
										-wedding: Singer, DJ, Light, Sound, Wedding Planning, Hair Dressing, Center Piece, Flower, Venue Rental
										-Birthday: Party Room and Venue Rental, DJ, Singer, Sound, Lighting, Event Planning
										-Corporate Meeting, Gathering, Party
										-Live Performance: Singer, Percussion, and Dance
									*}-->
									<li><a href="<!--{$SiteData.urls.site.services_wedding}-->"><strong>Wedding:</strong></a> Planning for a wedding can be exceptionally time-consuming as there are many things to consider: where it will be held, where to hold the reception, how many people to invite, catering, entertainment, having the rehearsal dinner and the list continues.</li>
									<li><a href="<!--{$SiteData.urls.site.services_birthday}-->"><strong>Birthday:</strong></a> Whether it's for a 21st or 51st birthday party, we can provide all the necessities you will need to have a guaranteed good time.</li>
									<li><a href="<!--{$SiteData.urls.site.services_concert}-->"><strong>Concert</strong></a> Putting on a private musical performance for a select group of people, or aiming to get as many people as possible to hear your songs? If you answered yes to either question, Pergen Production has the tools to guarantee your concert debut or next performance has all the energy and flair it deserves.</li>
									<li><a href="<!--{$SiteData.urls.site.services_corporate}-->"><strong>Corporate</strong></a> We at Pergen Productions can provide accommodations no matter if you are holding an event for a select group of people or everyone in the regional branch!</li>
									<li><a href="<!--{$SiteData.urls.site.services_outdoor}-->"><strong>Outdoor Events</strong></a> Nothing beats taking advantage of perfect weather conditions to hold an event outside, and Pergen Productions can assist with all your outdoor event needs.</li>
									<li><a href="<!--{$SiteData.urls.site.services_cultural}-->"><strong>Cultural Events</strong></a> We at Pergen Productions understand that certain cultural events, such as coming of age ceremonies like the Quinceañera and Bar/Bah Mitzah as well as other events like Norouz or Diwali, are incredibly important within certain communities and that there needs to be a great attention to detail for the sake of upholding tradition.</li>
									<li><a href="<!--{$SiteData.urls.site.services_livePerformance}-->"><strong>Live Performance:</strong></a> Singer, Percussion, and Dance</li>
									<li><a href="<!--{$SiteData.urls.site.services_DJs}-->"><strong>Nominated DJs and MCs</strong></a></li>
								</ul>
								<!--{*<div class="services-btn"><a href="javascript:void(0)"><span>Entertainment Gallery</span></a></div>*}-->
							</aside>
						</section>
						<section class="service-rental right">
							<h3>Equipment Rentals</h3>
							<aside>
								<figure><img src="<!--{$imagePath}-->services/service-rental.jpg" alt="Rental Service" ></figure>
								<ul class="bullet-list">
									<li><a href="<!--{$SiteData.urls.site.services_screens}-->"><strong>Video players, Projectors and Screens:</strong></a> If you would like to show video or photo at your event, it is important that you can do it in a manner so all of your guests will be able to see.</li>
									<li><a href="<!--{$SiteData.urls.site.services_ledLightingControl}-->"><strong>Intelligent LED Lighting Control System:</strong></a> Pergen Productions is proud to offer clients the use of our DMX-512 lighting system in order to create vibrant light shows for their event.</li>
									<li><a href="<!--{$SiteData.urls.site.services_ledMovingHead}-->"><strong>Intelligent LED Moving Head Lighting:</strong></a> As technology improves, our ability to create the perfect atmosphere no matter the situation does as well. </li>
									<li><a href="<!--{$SiteData.urls.site.services_ledPinSpot}-->"><strong>LED Pin-Spot Lighting:</strong></a> In order to make your event stand out, you need to give exceptional focus to all the little things that you want people to remember.</li>
									<li><a href="<!--{$SiteData.urls.site.services_ledWashUplighting}-->"><strong>LED Wash Uplighting:</strong></a> Create the perfect atmosphere for your guests by including a set of wash lights to set the tone for your venue.</li>
									<li><strong>Staff</strong> to run your parties</li>
								</ul>
								<!--{*<div class="services-btn"><a href="javascript:void(0)"><span>Lighting &amp; Sound Gallery</span></a></div>*}-->
							</aside>
						</section>
						<section class="service-consulting right">
							<h3>Event Consulting</h3>
							<aside>
								<figure><img src="<!--{$imagePath}-->services/service-consulting.jpg" alt="Event Consulting" ></figure>
								<p>Entrust all your concerns to PerGen Production while we plan and organize your dream wedding, important corporate event, birthdays, anniversaries, showers, or any occasion that requires a professional touch to ensure things go just the way you planned.</p>
								<p>We are a professional event management firm with immense experience and expertise to overcome all the concerns you may have in planning and organizing any function or event in a manner you wish to execute it with the finest details in order. <a href="<!--{$SiteData.urls.site.services_eventConsulting}-->">(Read more)</a></p>
								<!--{*<div class="services-btn"><a href="javascript:void(0)"><span>Get Started</span></a></div>*}-->
							</aside>
						</section>
						<section class="service-online-planner right">
							<h3>Online Planner Account</h3>
							<aside>
								<figure><img src="<!--{$imagePath}-->services/service-online-planner.jpg" alt="Online Planner Account" ></figure>
								<p>The multiple aspects of planning an event, whether it's a 70th birthday party, a company outing or high-school graduation party can seem overwhelming at times, but luckily Pergen Productions has the perfect solution to all of your micro-managing planning needs.
								<p>Our clients in addition to receiving first-class event planning consultation from industry professionals will also have access to our exclusive online planner resources for all of their planning needs that require personal attention. <a href="<!--{$SiteData.urls.site.services_onlinePlanner}-->">(Read more)</a></p>
								<!--{*<div class="services-btn"><a href="javascript:void(0)"><span>Get Started</span></a></div>*}-->
							</aside>
						</section>
						<div class="button"><a href="<!--{$SiteData.urls.site.contact}-->">Contact Us Right Now</a></div>
					</div>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->