<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
						<h2>Birthdays and Sweet 16th</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >Birthdays and Sweet 16th</span>
						</nav>
					</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<figure><a href="<!--{$applicationPath}-->?action=portfolio&catId=birthday"><img src="<!--{$imagePath}-->portfolio/birthday/pic-birthday-01_.jpg" alt="Birthday Portfolio" /></a></figure>
						<p>Pergen Productions is your number one event planning service when it comes to birthday parties.</p>
						<p>Whether it's for a 21st or 51st birthday party, we can provide all the necessities you will need to have a guaranteed good time. Our consultants will work will with your to create the best possible birthday party ever, whether it's for yourself or you're planning a surprise party for someone else!</p>
						<p>The sixteenth birthday marks a special time in any person's life: they're almost at the end of being considered a teenager, almost considered as an adult and are that much closer to driving with something other than a driver's permit. Therefore, the sixteenth birthday marks a major milestone in their lives and special need should be taken to recognize that. </p>
						<p>Our DJs can spin the tracks of today's biggest hits, time-tested party favorites and personal requests and our design team will work with you so you can thrown an extravagant sweet sixteen party that people will remember for years to come without incurring an extravagant cost. Our in-house bands and dancers can help crank any crazy sweet sixteen party to eleven, so if you would like your birthday boy or girl to have a party they will never forget, let Pergen Productions handle all of your party needs!</p>
						<p>We can coordinate everything you'll need for the perfect party, from audio and video equipment, lighting, entertainment; anything you want for whether you want to hold a casual celebration or a full-on birthday bash. Our clients can also take advantage of our online planner in order to create invitations, choose the music they'd like our DJs to play at the party ahead of time, and much much more. </p>
						<p>Contact us at <strong>1-855-2PERGEN (273-7436)</strong> if you would like to know if there are any other services that we may be able to provide to make your birthday party or teenager's sixteenth birthday as sweet as it can.</p>
						<div class="services-btn"><a href="<!--{$applicationPath}-->?action=portfolio&catId=birthday"><span>Birthday Gallery</span></a></div>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->