<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
					<h2>Online Planner Account</h2>
					<nav class="breadcrumb">
						<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
						<a href="#">Services</a> &rsaquo;
						<span >Online Planner Account</span>
					</nav>
				</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<p>The multiple aspects of planning an event, whether it's a 70th birthday party, a company outing or high-school graduation party can seem overwhelming at times, but luckily Pergen Productions has the perfect solution to all of your micro-managing planning needs.</p>
						<p>Our clients in addition to receiving first-class event planning consultation from industry professionals will also have access to our exclusive online planner resources for all of their planning needs that require personal attention. Our planner can be the base of operations for your event planning, whether you plan to publicize your event via e-mail or social media like Facebook or Twitter, need to arrange a guest list and VIPs, or need to create a spreadsheet on how to make the most out of your budget. On top of these services, our planner also allows you to keep contact lists of vendors you may want for your event, a built-in calendar to allow you to keep track of important dates in the planning process, and the ability to create a website so you can spread the word of your event out to the world.</p>
						<p>Contact us at <strong>1-855-2PERGEN (273-7436)</strong> or <a href="mailto:info@PerGenProductions.com">info@PerGenProductions.com</a> to learn more about how our online planner can simplify all of your planning needs today.</p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->