<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
						<h2>Cultural Events</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="#">Services</a> &rsaquo;
							<span >Cultural Events</span>
						</nav>
					</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<p>We at Pergen Productions understand that certain cultural events, such as coming of age ceremonies like the Quinceañera and Bar/Bah Mitzah as well as other events like Norouz or Diwali, are incredibly important within certain communities and that there needs to be a great attention to detail for the sake of upholding tradition. Whatever you may request for your event, we will do our best in order to provide you with the most authentic experience possible. </p>
						<p>The Quinceañera and Bar/Bah Mitzah are once-in-a-lifetime events that mark your child's stepping into adulthood, so they should have nothing but the fondest memories of this moment in their lives when they look back on it years in the future. Whether you need DJs to play either today's latest hits to traditional music or dancers to keep the energy in the atmosphere high and electric, Pergen Productions will work to its best to ensure that your event is as enjoyable for you and your guests as it is authentic. </p>
						<p>Contact us at <strong>1-855-2PERGEN (273-7436)</strong> to schedule an appointment with one of our consultants to talk about your upcoming event today.</p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->