<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Nominated DJs and MCs</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >Nominated DJs and MCs</span>
						</nav>
					</hgroup>
					<section class="inner-content">
						<p>Pergen Productions is proud to present our exclusive disc jockeys and masters of ceremonies for all of your event needs. Our DJs have years of experience and can create a music playlist that will fit the tone for any kind of event, whether it calls for the most recent and popular tracks for a Sweet 16 party or more traditional songs saved for a wedding reception. In that same vein, our MCs are well-versed and trained in making any event enjoyable and engaging, and will work their hardest to ensure your wedding reception or anniversary dinner is one that you will be able to remember for the rest of your lives. </p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->