<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
						<h2>Intelligent LED Lighting Control System</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="#">Services</a> &rsaquo;
							<span >Intelligent LED Lighting Control System</span>
						</nav>
					</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<p>Pergen Productions is proud to offer clients the use of our DMX-512 lighting system in order to create vibrant light shows for their event. The DMX-512 can control dozens of individual light displays at once and can be used to program and orchestrate impressive light shows that can be timed with your choice of music, whether it's club, pop, rock or any other genre. The system can be used in conjunction with LED moving head lights and truss lighting for greater versatility and can greatly improve the quality of any accompanying light show. Our staff can assist in customizing a light show based whatever on your needs are, ranging for which lighting fixtures you want to use to whether you would like to keep it in one area or light up the entire venue with a parade of lights!</p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->