<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
					<h2>Services</h2>
					<nav class="breadcrumb">
						<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
						<span>Services</span>
					</nav>
					<p>PerGen Production is a full-service event and party planning company offering private and corporate clients a comprehensive selection of entertainment and services. We design and produce private parties and corporate events including benefits, corporate parties and events, fundraisers, and concerts.</p>
					<p>From creation to installation, our team of professionals is skilled at developing innovative ideas to reflect your style.</p>
				</hgroup>
				<div class="wp">
					<section class="services-content">
						<section class="service-entertainment">
							<figure><img src="<!--{$imagePath}-->services/service-entertainment.jpg" alt="Entertainment Service" ></figure>
							<aside>
								<h3>Entertainment</h3>
								<ul class="bullet-list">
									<li><a href="<!--{$SiteData.urls.site.services_wedding}-->"><strong>Wedding:</strong></a> Singer, DJ, Light, Sound, Wedding Planning, Hair Dressing, Center Piece, Flower, Venue Rental</li>
									<li><a href="<!--{$SiteData.urls.site.services_birthday}-->"><strong>Birthday:</strong></a> Party Room and Venue Rental, DJ, Singer, Sound, Lighting, Event Planning</li>
									<li><a href="<!--{$SiteData.urls.site.services_concert}-->"><strong>Concert</strong></a></li>
									<li><a href="<!--{$SiteData.urls.site.services_corporate}-->"><strong>Corporate</strong></a> Meeting, Gathering, Party</li>
									<li><a href="<!--{$SiteData.urls.site.services_outdoor}-->"><strong>Outdoor Events</strong></a></li>
									<li><a href="<!--{$SiteData.urls.site.services_cultural}-->"><strong>Cultural Events</strong></a></li>
									<li><a href="<!--{$SiteData.urls.site.services_livePerformance}-->"><strong>Live Performance:</strong></a> Singer, Percussion, and Dance</li>
									<li><a href="<!--{$SiteData.urls.site.services_DJs}-->"><strong>Nominated DJs and MCs</strong></a></li>
								</ul>
								<!--{*<div class="services-btn"><a href="javascript:void(0)"><span>Entertainment Gallery</span></a></div>*}-->
							</aside>
						</section>
						<section class="service-rental">
							<figure><img src="<!--{$imagePath}-->services/service-rental.jpg" alt="Rental Service" ></figure>
							<aside>
								<h3>Equipment Rentals</h3>
								<ul class="bullet-list">
									<li><a href="<!--{$SiteData.urls.site.services_screens}-->"><strong>Video players, Projectors and Screens</strong></a></li>
									<li><a href="<!--{$SiteData.urls.site.services_ledLightingControl}-->"><strong>Intelligent LED Lighting Control System</strong></a></li>
									<li><a href="<!--{$SiteData.urls.site.services_ledMovingHead}-->"><strong>Intelligent LED Moving Head Lighting</strong></a></li>
									<li><a href="<!--{$SiteData.urls.site.services_ledPinSpot}-->"><strong>LED Pin-Spot Lighting</strong></a></li>
									<li><a href="<!--{$SiteData.urls.site.services_ledWashUplighting}-->"><strong>LED Wash Uplighting</strong></a></li>
									<li><strong>Staff</strong> to run your parties</li>
								</ul>
								<!--{*<div class="services-btn"><a href="javascript:void(0)"><span>Lighting &amp; Sound Gallery</span></a></div>*}-->
							</aside>
						</section>
						<section class="service-consulting">
							<figure><img src="<!--{$imagePath}-->services/service-consulting.jpg" alt="Event Consulting" ></figure>
							<aside>
								<h3>Event Consulting</h3>
								<p>Entrust all your concerns to PerGen Production while we plan and organize your dream wedding, important corporate event, birthdays, anniversaries, showers, or any occasion that requires a professional touch to ensure things go just the way you planned.</p>
								<p>We are a professional event management firm with immense experience and expertise to overcome all the concerns you may have in planning and organizing any function or event in a manner you wish to execute it with the finest details in order. <a href="<!--{$SiteData.urls.site.services_eventConsulting}-->">(Read more)</a></p>
								<!--{*<div class="services-btn"><a href="javascript:void(0)"><span>Get Started</span></a></div>*}-->
							</aside>
						</section>
						<section class="service-online-planner last">
							<figure><img src="<!--{$imagePath}-->services/service-online-planner.jpg" alt="Online Planner Account" ></figure>
							<aside>
								<h3>Online Planner Account</h3>
								<p>The multiple aspects of planning an event, whether it's a 70th birthday party, a company outing or high-school graduation party can seem overwhelming at times, but luckily Pergen Productions has the perfect solution to all of your micro-managing planning needs.
								<p>Our clients in addition to receiving first-class event planning consultation from industry professionals will also have access to our exclusive online planner resources for all of their planning needs that require personal attention. <a href="<!--{$SiteData.urls.site.services_onlinePlanner}-->">(Read more)</a></p>
								<!--{*<div class="services-btn"><a href="javascript:void(0)"><span>Get Started</span></a></div>*}-->
							</aside>
						</section>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->