<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Services</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<span>Services</span>
						</nav>
						<p>PerGen Production is a full-service event and party planning company offering private and corporate clients a comprehensive selection of entertainment and services. We design and produce private parties and corporate events including benefits, corporate parties and events, fundraisers, and concerts.</p>
						<p>From creation to installation, our team of professionals is skilled at developing innovative ideas to reflect your style.</p>
					</hgroup>
					<section class="services-content">
						<section class="service-entertainment">
							<figure><img src="<!--{$imagePath}-->services/service-entertainment.jpg" alt="Entertainment Service" ></figure>
							<h3>Entertainment</h3>
							<ul class="bullet-list">
								<li><strong>Wedding:</strong> Singer, DJ, Light, Sound, Wedding Planning, Hair Dressing, Center Piece, Flower, Venue Rental</li>
								<li><strong>Birthday:</strong> Party Room and Venue Rental, DJ, Singer, Sound, Lighting, Event Planning</li>
								<li><strong>Concert</strong></li>
								<li><strong>Corporate</strong> Meeting, Gathering, Party</li>
								<li><strong>Holiday</strong> Events</li>
								<li><strong>Cultural</strong> Events</li>
							</ul>
							<div class="services-btn"><a href="javascript:void(0)"><span>Entertainment Gallery</span></a></div>
						</section>
						<section class="service-rental">
							<figure><img src="<!--{$imagePath}-->services/service-rental.jpg" alt="Rental Service" ></figure>
							<h3>Rental</h3>
							<ul class="bullet-list">
								<li><strong>Sound System including:</strong> DJ setup, Speakers, Sound Woofers, wired/wireless microphones, Indoor/Outdoor Sounds</li>
								<li><strong>Lighting including:</strong> Disco, Wash Light, Ambient Lighting, Indoor/Outdoor Lighting</li>
								<li><strong>Staff</strong> to run your parties</li>
							</ul>
							<div class="services-btn"><a href="javascript:void(0)"><span>Lighting &amp; Sound Gallery</span></a></div>
						</section>
						<section class="service-consulting last">
							<figure><img src="<!--{$imagePath}-->services/service-consulting.jpg" alt="Event Consulting" ></figure>
							<h3>Event Consulting</h3>
							<p>Entrust all your concerns to PerGen Production while we plan and organize your dream wedding, important corporate event, birthdays, anniversaries, showers, or any occasion that requires a professional touch to ensure things go just the way you planned.</p>
							<p>We are a professional event management firm with immense experience and expertise to overcome all the concerns you may have in planning and organizing any function or event in a manner you wish to execute it with the finest details in order.</p>
							<p>We let you be free of worries and concerns that could shroud your thoughts while hosting an event. While you enjoy an important moment in your life we ensure everything is planned and organized just the way you desire.</p>
							<div class="services-btn"><a href="javascript:void(0)"><span>Get Started</span></a></div>
						</section>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->