<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Concerts</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >Concerts</span>
						</nav>
					</hgroup>
					<section class="contact-inner inner-content clearfix">
						<figure><a href="<!--{$applicationPath}-->?action=portfolio&catId=concert"><img src="<!--{$imagePath}-->portfolio/concert/pic-concert-01_.jpg" alt="Concert Portfolio" /></a></figure>
						<p>Putting on a private musical performance for a select group of people, or aiming to get as many people as possible to hear your songs? If you answered yes to either question, Pergen Production has the tools to guarantee your concert debut or next performance has all the energy and flair it deserves.</p>
						<p>Whether your musical performance will be heard in a concert hall, gym or outdoor amphitheatre, our staff is able to maximize the efficiency of any setting in order to get your music heard and your fans cheering and screaming for more. We will work alongside you in order to maximize the effectiveness of your budget, whether it's setting up video equipment to either project your image onto a larger screen or to immortalize this moment in time, or setting up a simple light display or designing the ultimate laser light show that will be timed perfectly with your music, giving your musical act the professional look it should have.</p>
						<p>If you have additional requests for your concert event, contact Pergen Productions via phone, fax or e-mail so we can discuss how to best accommodate you. </p>
						<div class="services-btn"><a href="<!--{$applicationPath}-->?action=portfolio&catId=concert"><span>Concerts Gallery</span></a></div>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->