<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
						<h2>Corporate Events</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="#">Services</a> &rsaquo;
							<span >Corporate Events</span>
						</nav>
					</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<p>Company events are meant to inspire and get employees energized about their work, so it stands that every measure should be taken so employees will get excited about the next corporate event instead of dreading it. We at Pergen Productions can provide accommodations no matter if you are holding an event for a select group of people or everyone in the regional branch!</p>
						<p>Whether you want to plan a corporate seminar, holiday party or special dinner for your employees, we will do everything in our power to make it as memorable and enjoyable as possible. Our lighting professionals will assist in setting the perfect atmosphere for any company event and on request our DJs can create playlists containing any sort of music you would like, whether it is today's hits, yesterday's top songs, or those holiday favorites.</p>
						<p>Contact us at <strong>1-855-2PERGEN (273-7436)</strong> for more information on what we can do to make your company event as successful as possible.</p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->