<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Outdoor Events</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >Outdoor Events</span>
						</nav>
					</hgroup>
					<section class="contact-inner inner-content clearfix">
						<figure><a href="<!--{$applicationPath}-->?action=portfolio&catId=outdoor"><img src="<!--{$imagePath}-->portfolio/outdoor-events/pic-outdoor-events-01_.jpg" alt="Outdoor Portfolio" /></a></figure>
						<p>Nothing beats taking advantage of perfect weather conditions to hold an event outside, and Pergen Productions can assist with all your outdoor event needs. Apart from offering you our normal services, we can also assist in tent set-up and setting up outdoor speakers so your voice can be heard. Even if the weather isn't perfect on the day of the event, we have the experience to assure that your event will still be an enjoyable one from start to finish whether it involves switching venue locations or setting up weather-proofing measures so guests don't have to worry about getting too wet, too hot, too cold, or any other condition brought about by bouts of bad weather.</p>
						<div class="services-btn"><a href="<!--{$applicationPath}-->?action=portfolio&catId=outdoor"><span>Outdoor Gallery</span></a></div>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->