<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>LED Wash Uplighting</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >LED Wash Uplighting</span>
						</nav>
					</hgroup>
					<section class="contact-inner inner-content clearfix">
						<figure><a href="<!--{$applicationPath}-->?action=portfolio&catId=lighting"><img src="<!--{$imagePath}-->portfolio/lighting/pic-lighting-47_.jpg" alt="LED Wash Uplighting" /></a></figure>
						<p>Create the perfect atmosphere for your guests by including a set of wash lights to set the tone for your venue. Whether you're having a big birthday bash or a high school reunion, our wide selection of LED wash lights can assist in creating ambiance by lighting up the room without the need for ceiling lights as well as projecting images of your choice. The first thing any guest or partygoer will notice going into an event is how well lit it is: by mixing and matching the variety of lighting colors Pergen Productions has to offer, we can assure that you set the correct tone for your venue right from the beginning.</p>
						<p>Wash uplighting can be utilized in about any party environment, whether you choose to hold your event in a party hall, gym, or even a tent outdoors. Our professional consultants can help you find the lights that suit your needs as well as discuss the price of installation and utilization depending on the scale of your event.</p>
						<div class="services-btn"><a href="<!--{$applicationPath}-->?action=portfolio&catId=lighting"><span>Lighting Gallery</span></a></div>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->