<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Event Consulting</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<a href="<!--{$SiteData.urls.site.services}-->">Services</a> &rsaquo;
							<span >Event Consulting</span>
						</nav>
					</hgroup>
					<section class="contact-inner inner-content clearfix">
						<p>Entrust all your concerns to PerGen Production while we plan and organize your dream wedding, important corporate event, birthdays, anniversaries, showers, or any occasion that requires a professional touch to ensure things go just the way you planned.</p>
						<p>We are a professional event management firm with immense experience and expertise to overcome all the concerns you may have in planning and organizing any function or event in a manner you wish to execute it with the finest details in order.</p>
						<p>We let you be free of worries and concerns that could shroud your thoughts while hosting an event. While you enjoy an important moment in your life we ensure everything is planned and organized just the way you desire.</p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->