<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
					<h2>Video players, Projectors and Screens</h2>
					<nav class="breadcrumb">
						<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
						<a href="#">Services</a> &rsaquo;
						<span >Video players, Projectors and Screens</span>
					</nav>
				</hgroup>
				<div class="wp">
					<section class="contact-inner inner-content clearfix">
						<p>If you would like to show video or photo at your event, it is important that you can do it in a manner so all of your guests will be able to see. We can assist by setting up AV equipment for your event, whether you wish to present the latest company data from the last quarter at your corporate event or show a slideshow of the happy couple at a wedding reception. Not only can Pergen Productions help set you up with any sort of high-definition video projectors or video players, we will also handle setting up screens so your images and videos are displayed with crystal-clear quality.</p>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->