<section class="content-section">
			<section class="box clearfix">
				<hgroup id="page-title">
					<h2>Testimonials</h2>
					<nav class="breadcrumb">
						<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
						<span>Testimonials</span>
					</nav>
				</hgroup>
				<div class="wp">
					<section class="testimonials-content clearfix">
						<ul class="testimonials-list">
							<li>
								<figure><img src="<!--{$imagePath}-->testimonials/pic-avatar.png" alt="Avatar Picture"></figure>
								<aside>
									<h3>Ali Zinat - <small>5/4/2013</small></h3>
									<p>DJ Arshia and staff did an amazing job with the sound, music and lighting.  Additionally a great percussionist and monogram were provided.  The guests loved the music selection.  Arshia's wedding expertise was very useful during the planning process.  I highly recommend Pergen Productions for weddings and other big events.</p>
								</aside>
							</li>
							<li class="right">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-avatar.png" alt="Avatar Picture"></figure>
								<aside>
									<h3>Arash Shabanbaz - <small>5/11/2013</small></h3>
									<p>We hosted an event with over a hundered people in attendance. The comapny came and set-up in advance and tested their equipment as well during the set-up. The lighting added to the ambiance and the mood, just right. The DJ and the service were excellent. Our guests had nothing but praise for the DJ and the music he played, it was just right for the event.</p>
									<p>Thank you Pergen Productions for a wonderful night!!</p>
								</aside>
							</li>
							<li>
								<figure><img src="<!--{$imagePath}-->testimonials/pic-avatar.png" alt="Avatar Picture"></figure>
								<aside>
									<h3>Tina Mahmoudian - <small>3/8/2013</small></h3>
									<p>Thank you so much for everything, our event couldn't have been a success without you. PegGen productions FTW!</p>
								</aside>
							</li>
							<li class="right">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-avatar.png" alt="Avatar Picture"></figure>
								<aside>
									<h3>Forough Yazdani - <small>1/26/2013</small></h3>
									<p>Your DJs made our event so special and memorable.  They were very professional.  They arrived on time, set up in ample time and provided first rate entertainment.</p>
								</aside>
							</li>
							<li class="last">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-avatar.png" alt="Avatar Picture"></figure>
								<aside>
									<h3>Neda - <small>1/12/2013</small></h3>
									<p>I have known pergen production for many years. Starting with my engagement party to my son's first birthday party 3 weeks ago, they made all my events amazing and unforgettable. They are so organized and professional. In every event that I had them all my guests had the best time and no one wanted to leave the dance floor. I highly recommend them.</p>
								</aside>
							</li>
							<!--{*<li class="right">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-testi-01.jpg" alt=""></figure>
								<h3>Len &amp; Ruth McGehee - <small>Feb 14, 2012</small></h3>
								<p>A warm thank you to all who have made my son's wedding and our stay so special!  They couldn't have asked for a more a more beautiful wedding. We couldn't have asked for a more wonderful time.
The staff were all fantastic, especially Richie, Kim, Yang, Marcia &amp; Sonia.  Again, thank you &amp; we hope to return.</p>
							</li>
							<li class="letter">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-testi-letter.png" alt=""></figure>
								<h3>Len &amp; Ruth McGehee - <small>Feb 14, 2012</small></h3>
								<p>Check the letter - <a href="javascript:void(0)">Click Here</a></p>
							</li>
							<li class="video right last">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-testi-video.png" alt=""></figure>
								<h3>Len &amp; Ruth McGehee - <small>Feb 14, 2012</small></h3>
								<p>Watch the Video - <a href="javascript:void(0)">Click Here</a></p>
							</li>*}-->
						</ul>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->