<section class="content-section">
			<section class="box clearfix">
				<div class="wp">
					<hgroup id="page-title">
						<h2>Testimonials</h2>
						<nav class="breadcrumb">
							<a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &rsaquo;
							<span>Testimonials</span>
						</nav>
					</hgroup>
					<section class="testimonials-content">
						<ul class="testimonials-list">
							<li>
								<figure><img src="<!--{$imagePath}-->testimonials/pic-avatar.jpg" alt="Avatar Picture"></figure>
								<h3>Ali - <small>May 04, 2013</small></h3>
								<p>We used Arshia and his team to provide DJ and Lighting services for our wedding reception in our ballroom. They brought many different types of lights, which made the ballroom look gorgeous and they did it all at an affordable price. The sound system was top notch and the music selection was great.</p>
							</li>
							<!--{*<li class="right">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-testi-01.jpg" alt=""></figure>
								<h3>Len &amp; Ruth McGehee - <small>Feb 14, 2012</small></h3>
								<p>A warm thank you to all who have made my son's wedding and our stay so special!  They couldn't have asked for a more a more beautiful wedding. We couldn't have asked for a more wonderful time.
The staff were all fantastic, especially Richie, Kim, Yang, Marcia &amp; Sonia.  Again, thank you &amp; we hope to return.</p>
							</li>
							<li class="letter">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-testi-letter.png" alt=""></figure>
								<h3>Len &amp; Ruth McGehee - <small>Feb 14, 2012</small></h3>
								<p>Check the letter - <a href="javascript:void(0)">Click Here</a></p>
							</li>
							<li class="video right last">
								<figure><img src="<!--{$imagePath}-->testimonials/pic-testi-video.png" alt=""></figure>
								<h3>Len &amp; Ruth McGehee - <small>Feb 14, 2012</small></h3>
								<p>Watch the Video - <a href="javascript:void(0)">Click Here</a></p>
							</li>*}-->
						</ul>
					</section>
				</div>
			</section>
		</section> <!-- end of CONTENT section-->