<footer id="footer">
			<div class="footer-wrap">
				<aside>
					<nav id="footer-links">
						<ul>
							<li><a href="home.php">Home</a></li>
							<!--
							<li><a href="javascript:void(0)">Image Gallery</a></li>
							<li><a href="javascript:void(0)">Testimonial</a></li>
							<li><a href="javascript:void(0)">About us</a></li>
							-->
							<li><a href="events.php">Events</a></li>
							<li><a href="contact.php">Contact us</a></li>
						</ul>
					</nav>
					<p>Copyright &copy; 2012 Pergen Productions. All rights reserved.</p>
					<p class="copyright"><label>Designed by</label><a class="mexo" href="http://mexoinc.com"></a><a class="curlybit" href="http://curlybit.com"></a></p>
				</aside>
				<section>
					<p>Address: 8206 Leesburg Pike, Suite 209, Vienna, VA 22182</p>
					<p>Phone: 202-596-2542 | Fax: 703-542-1274</p>
					<nav id="footer-socials">
						<a class="fb" href="https://www.facebook.com/arshiakia"></a>
						<!--<a class="tw" href="javascript:void(0)"></a>-->
					</nav>
				</section>
			</div>
		</footer>